.formHeader {
  text-align: center;
  margin-top: 0;
}

.icon {
  vertical-align: top;
}

.submit {
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  background: #2f3c7e;
  font-weight: bold;

  &:disabled {
    background-color: lighten(#2f3c7e, 30%);
  }
}

.formItem + .formItem {
  margin-top: 10px;
}
