.formHeader {
  text-align: center;
  margin-top: 0;
}

.icon {
  vertical-align: top;
}

.formItem + .formItem {
  margin-top: 10px;
}

// .input {
//   width: 100%;
//   border: 1px solid #eee;
//   padding: 10px;
//   outline: none;
//   color: #4b4b4b;
// }

.submit {
  width: 100%;
  padding: 10px;
  border: none;
  background: #2f3c7e;
  color: white;
  font-weight: bold;

  &:disabled {
    background-color: lighten(#2f3c7e, 30%);
  }
}
